@font-face {
  font-family: "Chicago";
  src: url("./fonts/ChiKareGo2.ttf");
}

@font-face {
  font-family: "Mondwest";
  src: url("./fonts/PPMondwest-Regular.otf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "NeueBit";
  src: url("./fonts/PPNeueBit-Regular.otf") format("truetype");
  font-weight: 100;
}
body {
  margin: 0;
  font-family: "Mondwest", sans-serif;
  /* font-smooth: antialiased; */

  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  font-smooth: never;
  -webkit-font-smoothing: none;
}
canvas {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
  width: 100vw !important;
  height: 100vh !important;
}
